<%
  default_options = {
    colors: ["#1ee8e8", "#ef86d0"],
    height: "250px"
  }

  start_date = 10.years.ago
  start_date = DateTime.parse(params[:start_date]) if params[:start_date]
  end_date   = DateTime.now
  end_date   = DateTime.parse(params[:end_date]) if params[:end_date].present?
  period     = :month
  period     = params[:period].to_sym if params[:period].present?

  messages = @conversation.messages.where(sent_at: start_date..end_date)
  messages = messages.search(params[:query]) if params[:query].present?

  participant_ids = messages.distinct(:participant_id).pluck(:participant_id)
  participants    = Participant.where(id: participant_ids).includes(:person)

  message_data = participants.map { |participant| [ participant.person, messages.where(participant_id: participant.id)] }
%>

<p>
  <%= link_to "Back to conversations", conversations_path %>
</p>

<%= form_tag(request.path, method: :get) do %>
  <%= label_tag(:period, "Granularity") %>
  <%= select_tag(:period, options_for_select([:hour, :day, :week, :month], period)) %>
  <%= label_tag(:query, "Keyword") %>
  <%= text_field_tag(:query, params[:query]) %>
  <%= label_tag(:start_date, "Start date") %>
  <%= text_field_tag(:start_date, start_date.to_date, placeholder: start_date.to_date) %>
  <%= label_tag(:end_date, "End date") %>
  <%= text_field_tag(:end_date, end_date.to_date, placeholder: end_date.to_date) %>
  <%= submit_tag("Refresh") %>
<% end %>

<h2>Overall stats</h2>

<p>Bewteen dates <%= start_date.to_date %> and <%= end_date.to_date %></p>

<% if params[:query].present? %>
  <p>For messages with keyword "<%= params[:query] %>"</p>
<% end %>

<div class="pie-charts">
  <div>
    <h3>Photos sent</h3>
    <p><%= number_with_delimiter messages.photos.count %></p>
    <%= pie_chart message_data.map { |person, messages| [person.name, messages.photos.count] }, default_options %>
  </div>
  <div>
    <h3>Videos sent</h3>
    <p><%= number_with_delimiter messages.videos.count %></p>
    <%= pie_chart message_data.map { |person, messages| [person.name, messages.videos.count] }, default_options %>
  </div>
  <div>
    <h3>Voice messages sent</h3>
    <p><%= number_with_delimiter messages.voice_messages.count %></p>
    <%= pie_chart message_data.map { |person, messages| [person.name, messages.voice_messages.count] }, default_options %>
  </div>
</div>


<div class="line-charts">
  <div>
    <h3>Number of messages</h3>
    <p><%= number_with_delimiter messages.count %></p>
    <%= line_chart message_data.map { |person, messages| { name: person.name, data: messages.group_by_period(period, :sent_at).count } }, default_options %>
  </div>
  <div>
    <h3>Message averge length (characters)</h3>
    <p><%= messages.not_photos.average('length(content)') %></p>
    <%= line_chart message_data.map { |person, messages| { name: person.name, data: messages.group_by_period(period, :sent_at).average('length(content)') } }, default_options %>
  </div>
  <div>
    <h3>Message total length (characters)</h3>
    <p>Words: <%= number_with_delimiter messages.not_photos.sum("array_length(regexp_split_to_array(content, '\\s+'), 1)") %></p>
    <p>Characters: <%= number_with_delimiter messages.not_photos.sum("length(content)") %></p>
    <%= line_chart message_data.map { |person, messages| { name: person.name, data: messages.group_by_period(period, :sent_at).sum('length(content)') } }, default_options %>
  </div>
</div>